---

interface Props {
  instructor: string;
  email: string;
  officeHours: string;
  zoomLink?: string;
}

const { instructor, email, officeHours, zoomLink } = Astro.props;

---

<div class="course-details">
  <p><strong>Instructor:</strong> {instructor}</p>
  <p><strong>Contact:</strong> {email}</p>
  <p class="long"><strong>Office Hours:</strong> {officeHours} 
  {zoomLink && <Fragment> | <a href={zoomLink}>meeting link</a> </Fragment> }
  </p>
</div>

<style>
  .course-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 0.5rem;

    p {
      margin-top: 0;
    }
    .long {
      grid-column: span 2;
    }
   place-items: baseline;
  }
  
</style>